<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <link rel="icon" href="./favicon.ico" type="image/x-icon" />
        
    <title>WZ 后台管理框架</title>



    <!-- Main styles for this application -->
    <link href="static/css/style.css" rel="stylesheet">
     <link href="static/css/wzbutton.css" rel="stylesheet">
    <link href="static/css/iview.css" rel="stylesheet">


  <!-- <script src="http://demo.mycodes.net/houtai/COREUI/assets/js/libs/tether.min.js"></script> -->
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden sidebar-minimized">
<script src=<%= htmlWebpackPlugin.options.path %>jquery.min.js></script>
<script src=<%= htmlWebpackPlugin.options.path %>js/three.min.js></script>

<script src=<%= htmlWebpackPlugin.options.path %>bower_components/plupload/js/plupload.full.min.js></script>

<script src=<%= htmlWebpackPlugin.options.path %>bower_components/qiniu/dist/qiniu.min.js></script>




 <script src=<%= htmlWebpackPlugin.options.path %>js/jquery.particleground.min.js></script>
<!-- <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/16.7.3/jcanvas.js"></script> -->

<div id="app"></div>
<!-- built files will be auto injected -->

</body>

</html>
