<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <link rel="icon" href="./favicon.ico" type="image/x-icon" />
    <title>WZ 后台管理框架</title>
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden ">
<div id="app"></div>

<script src=<%= htmlWebpackPlugin.options.path %>jquery.min.js></script>
<script src=<%= htmlWebpackPlugin.options.path %>js/three.min.js></script>
<script src=<%= htmlWebpackPlugin.options.path %>bower_components/plupload/js/plupload.full.min.js></script>
<script src=<%= htmlWebpackPlugin.options.path %>bower_components/qiniu/dist/qiniu.min.js></script>
<script src=<%= htmlWebpackPlugin.options.path %>js/jquery.particleground.min.js></script>
<script src="https://cdn.bootcss.com/tinymce/4.6.6/tinymce.min.js"></script>

</body>

</html>
