module.exports = {
    'ACCESS_KEY': '<Your Access Key>',  // https://portal.qiniu.com/user/key
    'SECRET_KEY': '<Your Secret Key>',
    'Bucket_Name': '<Your Bucket Name>',
    'Port': 19110,
    'Uptoken_Url': 'uptoken',
    'Domain': '<Your Bucket Name>' // bucket domain eg:http://qiniu-plupload.qiniudn.com/
};
